*{ 
    margin: 0;
    padding: 0;
    background-color: rgb(216, 169, 50);

}
.image{
    border-radius: 0% 0% 0% 100%;
    float: right;
    margin-top: 0%;
}

.header{
    text-align: center;
    text-shadow: 2em;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;

}
.container{
    width: 700px;
    height: 400px;
    margin-left: 400px;
    margin-top: 150px;
    border-radius: 3em;
   
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}


form{
    background-color: rgb(83, 76, 76);
    width: 600px;
    height: 300px;
    padding: 10px;
    border-radius: 2em;
    padding-top: 80PX;
    padding-left: 50PX;
    

}

.container input{
    width: 200px;
    margin-bottom: 20px;
    
}

.container button[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    color: bisque;
    border-radius: 1em;
    

}

.container button[type="submit"]:hover{
    cursor:pointer;
    background: red;
}

.container input[type="textarea"]{
    height: 50px;
    width: 300px;
    border-radius: 1em;

}

.container select{
    height: 50px;
    border-radius: 1em;
    width: 250px;
}
.container input[type="date"]{
    height: 50px;
    border-radius: 1em;
    padding-right: 50px;

}.container select:hover{
    cursor:pointer;
    background: red;

}

.container input[type="date"]:hover{
    cursor:pointer;
    background: red;

}

.about {
    margin-top: 50px;
    margin-left: 30px;
    align-items: center;
}

.about p{
    font-size: 24px;
    text-align: center;
}